@media (min-width: 1440px) and (max-width: 1920px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden; /* ป้องกันการเลื่อนในแนวนอน */
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 0.5rem; /* เพิ่ม padding เพื่อเว้นช่องสำหรับ nav */
  }
  
  nav {
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.6); /* สีดำที่มีความโปร่งใส 50% */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border-radius: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .nav-con {
    display: flex;
    align-items: center;
    padding-right: 0px; /* ลดให้ไม่มี padding ซ้ายเลย */
    margin-left: 0px; /* เพิ่ม margin-left แทนหากต้องการ */
  }
  
  
  .logo {
    margin-right: 1rem; /* ลดระยะห่างโลโก้ */
  }
  
  .menu {
    display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 30px; /* ระยะห่างระหว่างแต่ละเมนูและไอคอน */
  }
  
  .menu li {
    display: flex;
    align-items: center;
  }
  
  .menu li a {
    display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      font-size: 16px;
  }
  
  .menu li a img {
    width: 24px; /* ปรับขนาดไอคอนตามที่ต้องการ */
    margin-right: 5px; /* ระยะห่างระหว่างไอคอนกับข้อความ */
  }

}